@import '~bootstrap/scss/bootstrap'; 
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
    padding: 0.1em 0.1em 0.1em 0.1em;
    margin-bottom: 2.5rem;
}

header {
    display: grid;
    grid-template-columns: 150px auto 200px 100px;
    grid-template-areas: "logo titulo erabiltzailea idioma";
    justify-content: space-beetween;
    text-align: center;
    align-items: center;
    color: red;
}

main {
	font-size: 0.9rem;
    width: 100vw;
}

.logo {
    height: 100px;
    width: auto;
}

.titulua {
    display: flex;
    text-align: center;
}

.avatar {
    float: right;
    height: 3rem;
    border-radius: 3rem;
}

.fixed-bottom-right {
    position: fixed;
    right: 20px;
    bottom: 50px;
}

.bootstrap-table {
    font-size: 0.8rem;
}

#member-fields-list {
	padding-left: 0;
}
#member-fields-list li {
	list-style: none;
}

.input-align-right {
    text-align: right;
}

a {
    text-decoration: none !important;
}

@media (max-width: 767px) {
	.logo {
		height: 50px;
		width: auto;
	}
	
	h1 {
		font-size: 1.5rem;
	}
  
}