<div class="col p-0 mr-1 border">
   <div class="col-12 border text-center bg-light">
      <span class="h5">{{ "title.bonifications" | trans }}</span>
   </div>
   <div class="container row mt-1">
      <div class="col-lg-2">
         {{ form_row(form.housingBonus, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
      </div>
      <div class="col-lg-2">
         {{ form_row(form.dependencyBonus, {'attr': {'class': 'form-control form-control-sm text-right'}}) }}
      </div>
   </div>
</div>
